@page "/products/{apiId}"

<h3>Product Details</h3>

<MudIconButton Icon="@Icons.Material.Outlined.ArrowBack" OnClick="ReturnPage"></MudIconButton>

<MudForm Model="@_form" @ref="@_mudForm" Validation="@(_validator.ValidateValue)" ValidationDelay="0">
    <MudCard Elevation="4">
        <MudCardContent>
            <MudTextField T="Guid" Label="@nameof(_form.ApiId)" @bind-Value="_form.ApiId" Disabled="true" InputType="InputType.Text"/>
            <MudTextField Label="@nameof(_form.Symbol)" @bind-Value="_form.Symbol" Disabled="true" For="() => _form.Symbol" InputType="InputType.Text"/>
            <MudTextField Label="@nameof(_form.Name)" @bind-Value="_form.Name" For="() => _form.Name" InputType="InputType.Text"/>
            <MudTextField Label="@nameof(_form.Currency)" @bind-Value="_form.Currency" For="() => _form.Currency" InputType="InputType.Text"/>
            <MudTextField Label="@nameof(_form.Exchange)" @bind-Value="_form.Exchange" For="() => _form.Exchange" InputType="InputType.Text"/>
            <MudTextField Label="@nameof(_form.Country)" @bind-Value="_form.Country" For="() => _form.Country" InputType="InputType.Text"/>
            <MudTextField Label="@nameof(_form.MicCode)" @bind-Value="_form.MicCode" For="() => _form.MicCode" InputType="InputType.Text"/>
        </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Button" Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto" OnClick="@(() => Submit())">
                @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true"/>
                    <MudText Class="ms-2">Processing</MudText>
                }
                else
                {
                    <MudText>Update</MudText>
                }

            </MudButton>
        </MudCardActions>
    </MudCard>
</MudForm>